.timer {
  display: flex;
}

.timer .field {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
}

.timer .value {
  font-size: 35px;
}

.timer .label {
  font-size: 12px;
  line-height: 0.5;
  text-transform: uppercase;
}
